.footer {
    justify-content: space-between;
    padding: 1em;
    background-color: white;
    text-align: center;
    position: absolute;
  }
  
  .menu {
    display: flex;
  
  }
  
  .item {
    padding-left: 3em;
  }

  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }