html {
    scroll-behavior: smooth;
}

body {
    background-size: cover;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    margin: 0em;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

section {
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 5em;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.page-wrap {
    position: absolute;
    width: 100vw;
  }

  .app-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

.home_grid {
    display: flex;
    justify-content: center;
}

.home_grid_2 {
    text-align: center;
    margin: 5em;
    cursor: pointer;
}
