.header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 9999;
    width: 100%;
}

.menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &.display {
       
    }
}

.item {
    padding-left: 3em;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
    font-size: 1em;
    letter-spacing: 0.2em;
}

.menu-burger {
    display: none;
}



@media (max-width: 500px) {
    .header {
        display: block;
        justify-content: space-between;
        padding: 0em 0em;
        background-color: rgb(255, 255, 255);
    }

    .menu {
        padding: 1em 0em;
        align-items: baseline;
        background-color: #b1b1b1;
        flex-direction: column;
        display: none;
        &.display {
            padding: 1em 0em;
            align-items: baseline;
            background-color: #b1b1b1;
            flex-direction: column;
            display: flex;
        }
    }

    .item {
        margin-top: 1em;
    }

    .logo {
        height: 1em;
        margin: 1.5rem;
        font-size: 1em;
        letter-spacing: 0.2em;
    }

    .menu-burger {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        margin: 16px;
    }
}
