.project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: black;
    text-align: center;
    margin-top: 4em;
}

.item {
    padding-left: 3em;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

.imageProfile {
    border-radius: 50%;
}

.logo_brand {
    margin: 0.5rem;
}